body {
  background-image: url("../images/bg-image-art.jpg");
  padding-top: 70px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.fixed-header {
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  z-index: 1000; /* Устанавливаем высокий z-index, чтобы шапка была поверх контента */
  background-color: #fff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для визуального эффекта */
}

.blur {
  backdrop-filter: blur(2px);
}

.custom-bg {
  background: rgba(255, 255, 255, 0.61);
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}