
{% extends "base.html" %}
{%load static%}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock css %}

{% block content %}
<section class="container rounded p-3 mb-3 custom-bg py-5">
    <div class="container">
        <h1 class="text-center mb-4 my-4">Куда полетим?</h1>
        <form action="{% url "flight:search" %}" method="get" class="row g-3">
            <div class="col-md-3">
                <input type="search" class="form-control" placeholder="Откуда" name="from" required>
            </div>
            <div class="col-md-3">
                <input type="search" class="form-control" placeholder="Куда" name="to" required>
            </div>
            <div class="col-md-2">
                <input type="date" class="form-control" placeholder="Дата туда" name="departure_date" required>
            </div>
            <div class="col-md-2">
                <input type="date" class="form-control" placeholder="Дата обратно" name="return_date">
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100">Найти билеты
                </button>
            </div>

                        
            <div class="col-md-3">
                <input type="number" class="form-control" placeholder="Количество пассажиров" name="passengers" required>
            </div>
            
            <!-- Выбор тарифа -->
            <div class="col-md-3">
                <input type="text" list="options" class="form-control" placeholder="Класс" name="tariff" required>
                <datalist id="options">
                    <option value="Эконом">
                    <option value="Комфорт">
                    <option value="Бизнес">
                  </datalist>
            </div>
        </form>
    </div>
</section>


<section class="container rounded p-3 mb-3 custom-bg py-5">
    <div class="container ">
        <h2 class="text-center mb-4">Популярные направления</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'deps/icons/destination-fresh-96.png' %}" hspace="10" vspace="5" alt="Destination" style="width: 30px; height: 30px;">
                    <div class="card-body">
                        <h5 class="card-title">Москва → Санкт-Петербург</h5>
                        <p class="card-text">от 2 000 ₽</p>
                        <a href="#" class="btn btn-primary">Купить билет</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'deps/icons/destination-fresh-96.png' %}" hspace="10" vspace="5" alt="Destination" style="width: 30px; height: 30px;">
                    <div class="card-body">
                        <h5 class="card-title">Нью-Йорк → Лондон</h5>
                        <p class="card-text">от 300 $</p>
                        <a href="#" class="btn btn-primary">Купить билет</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'deps/icons/destination-fresh-96.png' %}" hspace="10" vspace="5" alt="Destination" style="width: 30px; height: 30px;">
                    <div class="card-body">
                        <h5 class="card-title">Берлин → Париж</h5>
                        <p class="card-text">от 100 €</p>
                        <a href="#" class="btn btn-primary">Купить билет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container rounded p-3 mb-3 custom-bg py-5">
    <div class="container">
        <h2 class="text-center mb-4">Почему выбирают нас?</h2>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'deps/icons/price-fresh-96.png' %}" alt="Low Price" width="30" height="30">
                        <h5 class="mt-3">Лучшие цены</h5>
                        <p>Мы гарантируем низкие цены на авиабилеты без скрытых сборов.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'deps/icons/support-fresh-96.png' %}" alt="Support" width="30" height="30">
                        <h5 class="mt-3">Поддержка 24/7</h5>
                        <p>Наша команда всегда готова помочь вам с вопросами и бронированием.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'deps/icons/booking-fresh-96.png.' %}" alt="Fast Booking" width="30" height="30">
                        <h5 class="mt-3">Быстрое бронирование</h5>
                        <p>Находите и бронируйте билеты за считанные минуты.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block footer %}
<footer class="py-3">
    <div class="container">
        <p class="m-0 text-center text-black">Copyright &copy; Airplane Tickets 2024</p>
    </div>
</footer>
{% endblock footer %}